{% extends 'master' %}

{% block content %}
    {{ form.open({action: 'UsersController.login'}) }}
    
      {{ csrfField }}
      
      <div class="field">
        {{ form.label('email', 'Enter email address') }}
        {{ form.text('email') }}
      </div>
    
      <div class="field">
        {{ form.label('password', 'Enter your password') }}
        {{ form.password('password') }}
      </div>
    
      <div class="button">
        {{ form.submit('Register') }}
      </div>
    
    {{ form.close() }}
{% endblock %}
